<div class="main">
    <div class="top-content" style="background-image: url('assets/image/top_image.jpg')">
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title"><img src="assets/image/logo.png" alt="logo"></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="section">
            <div class="container">
                <div class="title">
                    <h2 class="title-name">Product</h2>
                </div>
                <div class="product-details">
                    <div class="title"> 
                        <h3>Picture Frame</h3>
                    </div>
                    <div class="item">
                        <img src="assets\image\picture-frames\picture_frame-1.jpg">
                        <img src="assets\image\picture-frames\picture_frame-2.jpg">
                        <img src="assets\image\picture-frames\picture_frame-3.jpg">
                        <img src="assets\image\picture-frames\picture_frame-4.jpg">
                        <img src="assets\image\picture-frames\picture_frame-5.jpg">
                        <img src="assets\image\picture-frames\picture_frame-6.jpg">
                        <img src="assets\image\picture-frames\picture_frame-7.jpg">
                        <img src="assets\image\picture-frames\picture_frame-8.jpg">
                    </div>
                </div>
                <div class="product-details">
                    <div class="title"> 
                        <h3>Cup</h3>
                    </div>
                    <div class="item">
                        <img src="assets\image\picture-frames\picture_frame-1.jpg">
                        <img src="assets\image\picture-frames\picture_frame-2.jpg">
                        <img src="assets\image\picture-frames\picture_frame-3.jpg">
                        <img src="assets\image\picture-frames\picture_frame-4.jpg">
                        <img src="assets\image\picture-frames\picture_frame-5.jpg">
                        <img src="assets\image\picture-frames\picture_frame-6.jpg">
                        <img src="assets\image\picture-frames\picture_frame-7.jpg">
                        <img src="assets\image\picture-frames\picture_frame-8.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
