.navbar {
    background: #fff;
  }
  .navbar-transparent {
    background: 0 0 !important;
    border-bottom: 1px solid transparent;
    box-shadow: none;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
  .container{
    color: #000;
    overflow: hidden;
  }
  .header-title {
    float: left;
  }
  .header-title .header-Icon {
    float: left;
    color: #000;
    text-align: center;
    padding-top : 12px;
    padding-left: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  .header-title .header-Icon img {
    width: 90px;
    height: 50px;
  }
  .header-title .header-shipName {
    float: left;
    color: #000;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
    font-family: "Acme", sans-serif;
  }
  .header-condect {
    float: right;
    padding: 10px
  }
  .header-condect ul{
    padding: 0;
    margin: 0;
  }
  .header-condect ul li {
    float: left;
    color: #000;
    text-align: center;
    padding: 8px;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    display: flex; 
    font-weight: bold;
  }
  .nav-link {
    display: inline-flex; 
    align-items: center; 
    color: #fff;
    padding: 3px 12px !important;
    border-radius: 25px; 
    text-decoration: none; 
    font-family: sans-serif; 
    font-weight: bold;
    font-size: 12px;
    transition: background-color 0.3s ease;
  }
  .navbar-transparent .nav-link {
    padding: 0px !important;
  }
  .whatsApp-nav-link {
    text-decoration: none;
    background-color: #25D366 !important;
    border-color: #25D366 !important;
  }
  .facebook-nav-link {
    text-decoration: none;
    background-color: #1877f2 !important;
    border-color: #1877f2 !important;
  }
  .instagram-nav-link{
    text-decoration: none;
    background-color: #fd1d1d!important;
    border-color: #fd1d1d !important;
    background-size: 120px;
  }
  .icon {
    width: 40px;
    height: 40px;
}