@if(!isTransparent){
<header class="navbar fixed-top">
    <div class="container">
        <div class="header-title">
            <div class="header-Icon">
                <img src="assets/image/logo.png">
            </div>
        </div>
       <div class="header-condect">
            <ul class="header-nav">
                <li class="nav-item">
                    <a class="nav-link whatsApp-nav-link" title="Follow us on WhatsApp" href="https://twitter.com/CreativeTim" target="_blank">
                        WhatsApp
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link facebook-nav-link" title="Like us on Facebook" href="https://www.facebook.com/CreativeTim" target="_blank">
                        Facebook
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link instagram-nav-link" title="Follow us on Instagram" href="https://www.instagram.com/rainbow_digital___" target="_blank" style=" background-image: url('assets/image/instagram_background.jpg')">
                        Instagram
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
}
@if(isTransparent){
<header class="navbar fixed-top navbar-transparent">
    <div class="container">
        <!-- <div class="header-title">
            <div class="header-Icon">
                <img src="assets/image/logo.png">
            </div>
        </div> -->
       <div class="header-condect">
            <ul class="header-nav">
                <li class="nav-item">
                    <a class="nav-link" title="Follow us on WhatsApp" href="https://twitter.com/CreativeTim" target="_blank">
                        <img class="icon" src="assets/image/Whatsapp.png" alt="Whatsapp">
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" title="Like us on Facebook" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <img class="icon" src="assets/image/Facebook.png" alt="Facebook">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Follow us on Instagram" href="https://www.instagram.com/rainbow_digital___" target="_blank">
                        <img class="icon" src="assets/image/Instagram.png" alt="Instagram">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
}
<app-components></app-components>
<app-footer></app-footer>